.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    background: $default;
    color: color(dark);
    border: none;
    border-bottom: solid 5px darken($default, 5%);
    border-radius: $border-radius;
    padding: 0.6em 1.5em;
    margin-bottom: 0.5em;
    cursor: pointer;
    
    transition: $transition;

    &:focus {
        outline: none;
    }

    &:hover {
        background: darken($default, 1%);
        transform: translateY(-5px);
    }

    &:active {
        transform: translateY(0);    
    }

    &:disabled {
        background: darken(#f5f6fa, 10%);
        color: #fff;
        border: none;
        transform: none;
        cursor: not-allowed;
    }

    &--rounded {
        border-radius: 50px;
    }

    @each $color, $value in $colors {
        &--#{$color} {
            border: none;
            border-bottom: solid 5px darken(color($color), 10%);
            background: $value;
            color: #fff;

            &:hover {
                @if $color == 'dark' {
                    background: lighten($value, 10%);
                }@else {
                    background: darken($value, 5%);
                }
            }

            &-inverted {
                color: $value;
            }
        }
    }
}