.form {
    &__group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &--inline {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1em;

            label {
                margin-right: .5rem;
            }

            .form__input {
                margin: 0;
            }
        }
    }

    &__input {
        width: 100%;
        font-size: 1em;
        font-family: 'Quicksand', sans-serif;
        padding: 0.6em 1.5em;
        margin-bottom: 1em;
        background: $default;
        border: solid 2px darken($default, 5%);
        border-bottom: solid 5px darken($default, 5%);
        border-radius: $border-radius;
        transition: $transition;

        &:focus {
            outline: none;
            border-color: color(primary);
        }

        &:disabled{
            border: solid 2px darken($default, 15%);
            border-bottom: solid 5px darken($default, 15%);
            background: darken($default, 10%);
            color: #fff;
            cursor: not-allowed;
        }

        @each $condition in $conditions {
            &.#{$condition}:focus {
                outline: none;
                border-color: color($condition);
            }
        }
        
    }
}