body {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: color(primary);
}

.list {

    &-heading {
        font-size: 1.2em;
        font-weight: 700;
    }

    &-unstyled {
        list-style: none;
        padding-left: 1em;
    }
}