$colors: (
    primary: #487eb0,
    secondary: #9c88ff,
    info: #00a8ff,
    success: #4cd137,
    warning: #fbc531,
    danger: #e84118,
    dark: #2f3640,
    light: #f5f6fa
);

$conditions: 'success', 'warning', 'danger';


$border-radius: 5px;
$transition: all 0.3s ease;

