@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,700");
* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

.container {
  margin: auto;
  width: 100%;
  max-width: 860px; }

body {
  font-family: 'Quicksand', sans-serif; }

a {
  text-decoration: none;
  color: #487eb0; }

.list-heading {
  font-size: 1.2em;
  font-weight: 700; }
.list-unstyled {
  list-style: none;
  padding-left: 1em; }

.navbar {
  box-sizing: border-box;
  padding: 0.5em;
  color: #fff;
  background: #487eb0;
  display: flex; }
  .navbar.fixed {
    position: sticky;
    top: 0;
    z-index: 10; }
  .navbar-logo {
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase; }

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  background: transparent;
  color: #2f3640;
  border: solid 2px #2f3640;
  border-radius: 5px;
  padding: 0.6em 1.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: all 0.3s ease; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    background: #2f3640;
    color: #fff;
    transform: translateY(-5px); }
  .btn:active {
    transform: translateY(0); }
  .btn:disabled {
    background: #d3d7e9;
    color: #fff;
    border: none;
    transform: none;
    cursor: not-allowed; }
  .btn-rounded {
    border-radius: 50px; }
  .btn-primary {
    border: none;
    border-bottom: solid 5px #39648c;
    background: #487eb0;
    color: #fff; }
    .btn-primary:hover {
      background: #41719e; }
  .btn-secondary {
    border: none;
    border-bottom: solid 5px #7255ff;
    background: #9c88ff;
    color: #fff; }
    .btn-secondary:hover {
      background: #876fff; }
  .btn-info {
    border: none;
    border-bottom: solid 5px #0086cc;
    background: #00a8ff;
    color: #fff; }
    .btn-info:hover {
      background: #0097e6; }
  .btn-success {
    border: none;
    border-bottom: solid 5px #3aad28;
    background: #4cd137;
    color: #fff; }
    .btn-success:hover {
      background: #41c22d; }
  .btn-warning {
    border: none;
    border-bottom: solid 5px #f4b405;
    background: #fbc531;
    color: #fff; }
    .btn-warning:hover {
      background: #fbbe18; }
  .btn-danger {
    border: none;
    border-bottom: solid 5px #ba3413;
    background: #e84118;
    color: #fff; }
    .btn-danger:hover {
      background: #d23a15; }
  .btn-dark {
    border: none;
    border-bottom: solid 5px #191d23;
    background: #2f3640;
    color: #fff; }
    .btn-dark:hover {
      background: #454f5d; }
  .btn-light {
    border: none;
    border-bottom: solid 5px #d3d7e9;
    background: #f5f6fa;
    color: #000; }
    .btn-light:hover {
      background: #e4e7f2;
      color: #000; }

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
.form-input {
  width: 100%;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  padding: 0.6em 1.5em;
  margin-bottom: 1em;
  background: #f5f6fa;
  border: solid 2px #e4e7f2;
  border-bottom: solid 5px #e4e7f2;
  border-radius: 5px;
  transition: all 0.3s ease; }
  .form-input:focus {
    outline: none;
    border-color: #487eb0; }
  .form-input.success:focus {
    outline: none;
    border-color: #4cd137; }
  .form-input.warning:focus {
    outline: none;
    border-color: #fbc531; }
  .form-input.danger:focus {
    outline: none;
    border-color: #e84118; }

/*# sourceMappingURL=kecik.css.map */
