HTML {
    scroll-behavior: smooth;
}

aside {
    background: #fff;
    width: 300px;
    overflow-y: scroll;
    padding: 0 1em;
    position: fixed;
    top: 4.1em;
    left: 0;
    bottom: 0;
}

article {
    box-sizing: border-box;
    padding: 1em;
    padding-left: 310px;
    overflow: hidden;
}

section {
    padding: 5em 0;
    border-bottom: solid 5px #ccc;
}

.section-title {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

pre {
    border-radius: 5px;
    overflow-x: scroll;
}

.subtitle {
    font-size: 1.5rem;
}
